body {
    background-color: #3399ff;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
    font-family: 'Shrikhand', cursive;
}

.navbar-default {
    background-color: #3399ff;
    color: #ffffff;
}

.btn-default {
    background-color: #3399ff;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

.btn-outline {
    color: #ffffff;
    background-color: #3399ff;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 16px;
}

.btn-default:not(:disabled):hover, .btn-outline:not(:disabled):hover {
    color: #000000;
}

.btn-default:not(:disabled):active, .btn-outline:not(:disabled):active {
    background-color: #3399ff;
    opacity: 0.5;
}

.btn-default:disabled, .btn-outline:disabled {
    opacity: 0.4;
}

.input-default {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #3399ff;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16px;
}

::placeholder {
    color: #3399ff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3399ff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #3399ff;
}

a:link, a:hover, a:active, a:visited {
    color: #ffffff;
}